
#기획내용
{
	font-family: Verdana, Geneva, sans-serif;
	position:relative;
	padding-top: 5em;
	text-align:center;
	margin-top:13em;

}
.c1
{
	text-align:right;
	margin-right:5em;
}
.c2
{
	text-align:left;
	margin-left:5em;
}
.c3
{
	text-align:right;
	margin-right:5em;
}
.c4
{
	text-align:left;
	margin-left:5em;
}
.c5
{
	text-align:right;
	margin-right:5em;
}
.c6
{
	text-align:left;
	margin-left:5em;
}
.c7
{
	text-align:right;
	margin-right:5em;
}
