#head
{
	position:fixed; 
	z-index:2; 
	top:0; 
	background-color:#FFF;
	width:700px;

}
#body
{
	position:relative;
	padding-top: 120px;
	z-index:1;
}

#logo
{
	font-size : 2.8em; 
	text-align : right;
}
.mn
{
	float:right;
	margin-top:20px;
	margin-left:5px;
	margin-right:5ptx;
}
#mentor
{
	font-size : 25px;
}
#project
{
	font-size : 25px;
}